<!DOCTYPE html>
<html lang="zxx">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Hiroto Template" />
    <meta name="keywords" content="Hiroto, unica, creative, html" />
    <meta name="viewport" content="width=dev-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title>HotelBooking</title>

    <!-- icon web -->
    <link rel="icon" href="/client/img/iconlogo.png" />

    <!--boxi icon -->
    <link
      href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="/client/css/elegant-icons.css"
      type="text/css"
    />
    <!-- fontawesome -->
    <link
      rel="stylesheet"
      href="/client/css/font-awesome.min.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="/client/css/bootstrap.min.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="/client/css/header-bootstrap.css"
      type="text/css"
    />

    <!-- Css Styles -->
    <link
      rel="stylesheet"
      href="/client/css/owl.carousel.min.css"
      type="text/css"
    />

    <link rel="stylesheet" href="/client/css/style.css" type="text/css" />
    <link rel="stylesheet" href="/client/css/header.css" type="text/css" />
    <link rel="stylesheet" href="/client/css/room.css" type="text/css" />

    <!-- toast -->
    <link rel="stylesheet" href="/client/css/toastr.css" type="text/css" />
  </head>

  <body>
    <div class="loading">
      <div class="loader"></div>
    </div>
    <div id="header">
      <div class="header-nav">
        <div class="header-logo">
          <img src="/client/img/mylogo.svg" alt="" class="logo" />
        </div>
        <ul class="nav-list">
          <li class="nav-item">
            <a href="/" class="nav-link-nb">Trang chủ</a>
          </li>

          <li class="nav-item">
            <a href="/rooms" class="nav-link-nb nav-link-nb-main">Phòng</a>
          </li>
          <li class="nav-item">
            <a href="/checkout" class="nav-link-nb">Đặt phòng</a>
          </li>
          <li class="nav-item">
            <a href="/about" class="nav-link-nb">Giới thiệu</a>
          </li>
        </ul>
      </div>
      <div class="header-account">
        <!-- đã login -->
        <!-- <div class="btn-account login-success">
          <span class="username">Hello Khang</span>
          <i class="bx bx-user-check"></i>
          <div class="account-info hide-if">
            <div class="arrow-up"></div>
            <ul class="list-info">
              <li><a href="/cart">Giỏ hàng</a></li>
              <li><a href="/info">Thông tin</a></li>
              <li><a href="/list-room">Phòng đã đặt</a></li>
              <li><a href="/logout">Đăng xuất</a></li>
            </ul>
          </div>
        </div> -->

        <!-- Chưa login -->
        <a class="btn-login btn-account" href="/login"
          ><i class="bx bx-user"></i>Đăng nhập
        </a>
        <a class="btn-register btn-account" href="/login">Đăng ký </a>
      </div>
    </div>
    <div id="booking" class="section">
      <div class="section-center">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="section-title">
                <h5 style="font-size: 30px; color: #fff; font-weight: bold">
                  Tìm phòng nhanh chóng, dễ dàng và tiện lợi ở hotel HUFLIT
                </h5>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="booking-form">
                <form>
                  <div class="row">
                    <!-- check in -->
                    <div class="col-md-2 col-sm-2">
                      <div class="form-group">
                        <input
                          id="date-checkin"
                          class="form-control sn"
                          type="date"
                          required
                        />
                        <span class="form-label">Check In</span>
                      </div>
                    </div>
                    <!-- check out -->
                    <div class="col-md-2 col-sm-2">
                      <div class="form-group">
                        <input
                          id="date-checkout"
                          class="form-control sn"
                          type="date"
                          required
                        />
                        <span class="form-label">Check Out</span>
                      </div>
                    </div>
                    <!-- số phòng -->
                    <div class="col-md-2 col-sm-2">
                      <div class="form-group">
                        <span class="form-label">Số phòng</span>
                        <select id="number-room" required class="form-control">
                          <option>1</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option>
                        </select>
                        <span class="select-arrow"></span>
                      </div>
                    </div>
                    <!-- số người lớn -->
                    <div class="col-md-2 col-sm-2">
                      <div class="form-group">
                        <span class="form-label">Số người lớn</span>
                        <select id="number-adult" required class="form-control">
                          <option>1</option>
                          <option>2</option>
                          <option>4</option>
                        </select>
                        <span class="select-arrow"></span>
                      </div>
                    </div>
                    <!-- số trẻ em -->
                    <div class="col-md-2 col-sm-2">
                      <div class="form-group">
                        <span class="form-label">Số trẻ em</span>
                        <select
                          id="number-children"
                          required
                          class="form-control"
                        >
                          <option>0</option>
                          <option>1</option>
                          <option>2</option>
                        </select>
                        <span class="select-arrow"></span>
                      </div>
                    </div>
                    <div class="col-md-2 col-sm-2">
                      <button
                        id="btnSearch"
                        type="button"
                        class="btn btn-fliter form-group btn-primary"
                      >
                        Tìm kiếm
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Rooms Section Begin -->
    <section style="padding-top: 10px" class="rooms">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="section-title">
              <h5 style="font-size: 30px; margin: 10px 0">Đề xuất cho bạn</h5>
            </div>
          </div>
        </div>
        <div class="row row-data-axios">
          <% let pre="img",a=1,b=a+1;%> <% data.forEach(item=>{%> <%
          if(pre=="img") {%> <% pre="text" %>
          <div class="col-lg-6 p-0 order-lg-<%= a%> order-md-<%= a%> col-md-6">
            <div class="room__text">
              <h3><%= item.nameType%></h3>

              <ul>
                <li><span>Size:</span>30 ft</li>
                <li>
                  <span>Sức chứa:</span>Tối da <%= item.adult + item.children %>
                </li>
                <li><span>Giường:</span><%= item.bed%></li>
                <li><span>Dịch vụ:</span>Wifi, TV, Bếp,...</li>
                <li><span>View:</span><%= item.view%></li>
              </ul>
              <h2><sup>$</sup><%= item.price%>,000đ<span>/day</span></h2>
              <a class="btn-view-detail" href="/rooms/booking/<%=item.typeID%>"
                >Đặt ngay</a
              >
            </div>
          </div>

          <div class="col-lg-6 p-0 order-lg-<%= b%> order-md-<%= b%> col-md-6">
            <div class="room__pic__slider owl-carousel">
              <div
                class="room__pic__item set-bg"
                data-setbg="<%=item.imgData[0].url %>"
              ></div>
              <div
                class="room__pic__item set-bg"
                data-setbg="<%=item.imgData[1].url %>"
              ></div>
              <div
                class="room__pic__item set-bg"
                data-setbg="<%=item.imgData[2].url %>"
              ></div>
              <div
                class="room__pic__item set-bg"
                data-setbg="<%=item.imgData[3].url %>"
              ></div>
            </div>
          </div>
          <% } else{ %> <% pre="img" %>
          <div class="col-lg-6 p-0 order-lg-<%= a%> order-md-<%= a%> col-md-6">
            <div class="room__pic__slider owl-carousel">
              <div
                class="room__pic__item set-bg"
                data-setbg="<%=item.imgData[0].url %>"
              ></div>
              <div
                class="room__pic__item set-bg"
                data-setbg="<%=item.imgData[1].url %>"
              ></div>
              <div
                class="room__pic__item set-bg"
                data-setbg="<%=item.imgData[2].url %>"
              ></div>
              <div
                class="room__pic__item set-bg"
                data-setbg="<%=item.imgData[3].url %>"
              ></div>
            </div>
          </div>
          <div class="col-lg-6 p-0 order-lg-<%= b%> order-md-<%= b%> col-md-6">
            <div class="room__text right__text">
              <h3><%= item.nameType%></h3>

              <ul>
                <li><span>Size:</span>30 ft</li>
                <li>
                  <span>Sức chứa:</span>Tối da <%= item.adult + item.children %>
                </li>
                <li><span>Giường:</span><%= item.bed%></li>
                <li><span>Dịch vụ:</span>Wifi, TV, Bếp,...</li>
                <li><span>View:</span><%= item.view%></li>
              </ul>
              <h2><sup>$</sup><%= item.price%>,000đ<span>/day</span></h2>
              <a href="/rooms/booking/<%=item.typeID%>">Đặt ngay</a>
            </div>
          </div>

          <% } %> <% a=b+1; b=a+1%> <%})%>
        </div>
        <div class="btn-on-top"></div>
      </div>
    </section>

    <!--==================================== -->

    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
      integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
      crossorigin="anonymous"
    ></script>

    <!-- Js Plugins -->

    <!-- <script src="/client/js/jquery-3.3.1.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
    <script src="/client/js/jquery.slicknav.js"></script>
    <script src="/client/js/owl.carousel.min.js"></script>

    <!-- toast -->
    <script src="/client/js/toastr.js"></script>

    <script src="/client/js/main.js"></script>
    <script src="/client/js/header.js"></script>
    <script src="/client/js/room.js"></script>
    <script src="/client/js/setheader.js"></script>
  </body>
</html>
