<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <link
      href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
      rel="stylesheet"
    />
    <title>HotelBooking</title>
    <link
      rel="icon"
      href="https://www.pinpng.com/pngs/m/144-1449172_hotel-png-icon-hotel-vector-icon-png-transparent.png"
    />
    <!-- <link rel="stylesheet" href="/css/style.css" /> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <main><%- body %></main>

    <!-- axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- jquery -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <!-- popper -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"
    ></script>
    <!-- bootstrap -->
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"
    ></script>
    <!-- bootstrap -->
    <link
      rel="stylesheet"
      href="/client/css/bootstrap.min.css"
      type="text/css"
    />
    <!-- fontawesome -->
    <link
      rel="stylesheet"
      href="/client/css/font-awesome.min.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="/client/css/elegant-icons.css"
      type="text/css"
    />
    <link rel="stylesheet" href="/client/css/nice-select.css" type="text/css" />
    <link
      rel="stylesheet"
      href="/client/css/jquery-ui.min.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="/client/css/owl.carousel.min.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="/client/css/slicknav.min.css"
      type="text/css"
    />
    <link rel="stylesheet" href="/client/css/style.css" type="text/css" />
  </body>
</html>

<!-- <% for(var i=0; i<data.length; i++) {%>
          <tr style="font-size:14px">
            <td class="none-ele"><%= data[i].bookingID %></td>
            <td><%= data[i].bookingData.roomData.nameType %></td>
            <td><%= data[i].checkin %></td>
            <td><%= data[i].checkout %></td>
            <td><%= data[i].userData.info.fullName %></td>
            <td><%= data[i].userData.info.phone %></td>
           
            <td style="text-align:center;"><%= data[i].status %></td>
            <td>
              <label class="dropdown-cus">

                <div class="dd-button">
                 Thực hiện
                </div>
              
                <input type="checkbox" class="dd-input" id="test">
              
                <ul class="dd-menu">
                  
                  <%if (data[i].status !='đã trả phòng và thanh toán') {%>  
                     <li>
                       <a href="booking-list/payment/<%= data[i].bookingID %>">Thanh toán</a>
                    </li>  
                    
                    <%}%>
                 
                  <li><a  href="booking-list/detail/<%= data[i].bookingID %>">Chi tiết</a></li>
                  <%if (data[i].status !='đã trả phòng và thanh toán') {%>  
                    
                      <li><a  href="booking-list/update/<%= data[i].bookingID %>">Cập nhật</a></li>
                    
                   
                   <%}%>
                 
                  
                </ul>
                
              </label>
            </td> -->

<!-- <td><a class="btn btn-detail" role="button" href="">Chi tiết</a></td>
            <td><a class="btn btn-update" role="button" href="">Cập nhật</a></td>
            <td><a class="btn btn-payment btn-primary" role="button" href="">Thanh toán</a></td> -->

<!-- </tr>
       <% } %> -->
